body { 
    border: 0px;
    /* text-align: center; */
    box-sizing: border-box;
    background-color: rgba(43, 107, 226, 60%);
 }

 .profile {
    position: relative;
    height: 25%;
    width: 25%;
    top: 0px;
    margin: 0 37%;
    border-radius: 50%;
 }

 h1, h2, p {
    text-align: center;
    margin: 2.5% 25%;
 }

 .linktree {
    list-style-type: none;
    margin: 0 25%;
    padding: 0;
    width: 25%;
 }


 .btn {
    display: block;
    color: white;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 8px;
    
    width: 100%;
    background-color:rgb(45, 35, 136);
    text-align: center;
}

.btn:hover {
    background-color: rgb(89, 89, 152)
}

@media screen and (max-width: 1280px) {
    .btn {
        padding: 10% 10% 10% 10%;
        margin: 10px 25% 10px 41%;
    }

}

@media screen and (max-width: 1020px) { 
    .btn {
     padding: 15% 25% 15% 25%; 
     margin: 10px 25%;
    }

    p { margin: 2.5% 5%;}

}